//- standardised components mixins
//- header and footer
include /src/templates/_includes/header
include /src/templates/_includes/footer

//- include /src/templates/_components/account-status-bar
//- include /src/templates/_components/account-sidebar
//- include /src/templates/_components/account-card-single
//- include /src/templates/_components/breadcrumbs

//- include /src/templates/_components/country-code
include /src/templates/_components/comp-promo-hero-panel
include /src/templates/_components/comp-promo-val-prop-list
//- include /src/templates/_components/comp-renewal-prompts
//- include /src/templates/_components/comp-single-payment-prompt
//- include /src/templates/_components/comp-email-verification-prompts
//- include /src/templates/_components/comp-otp-verification
include /src/templates/_components/comp-catfish-checkout


//- include /src/templates/_components/hero-carousel
//- include /src/templates/_components/publication-listing-container
//- include /src/templates/_components/page-header
//- include /src/templates/_components/page-short-Header
//- include /src/templates/_components/new-page-short-header
//- include /src/templates/_components/success-rewards-section

//- include /src/templates/_components/checkout-steps
//- include /src/templates/_components/order-summary
//- include /src/templates/_components/order-summary-app
//- include /src/templates/_components/payment-summary
//- include /src/templates/_components/payment-summary-b2b2c
//- include /src/templates/_components/checkout-steps-app
//- include /src/templates/_components/checkout-summary
//- include /src/templates/_components/payment-method
//- include /src/templates/_components/payment-method-subscriber

//- include /src/templates/_components/address-fields

include /src/templates/_components/ie-notifier
include /src/templates/_components/maintenance-notifier

//- include /src/templates/_components/publication-comparison-table

//- include /src/templates/_components/card-plan-collection
//- include /src/templates/_components/card-plan-single
include /src/templates/_components/card-plan-single-a
include /src/templates/_components/card-plan-single-dropdown
//- include /src/templates/_components/subscription-card-single

//- include /src/templates/_components/tab-panel
//- Lightbox components
//- include /src/templates/_components/comp-address-book
//- include /src/templates/_components/comp-new-payment-method