- var metaAuthor = '';
- var metaTitle = '';
- var metaKeywords = '';
- var metaDescription = '';

- var htmlClass = '';
- var bodyClass = '';
- var wrapClass = '';

- var cssFilename = ''
- var jsFilename = 'app'

- var absoluteUrl = '';
- var imagesUrl = absoluteUrl + 'images';
- var cssUrl = absoluteUrl;
- var jsUrl = absoluteUrl + 'js/';

- var breadcrumbs = [];

- var theme = ' ';
- var assetsPath = './';
- var checkoutFlow = '';
- var pub = 'eshop';

block vars