/* Greyscale */
$greyscale-grey-900: #121212;
$greyscale-grey-800: #333333;
$greyscale-grey-700: #505050;
$greyscale-grey-600: #6f6f6f;
$greyscale-grey-500: #808080;
$greyscale-grey-400: #9b9b9b;
$greyscale-grey-300: #bdbdbd;
$greyscale-grey-200: #d7d7d7;
$greyscale-grey-100: #f5f5f5;
$greyscale-white: #ffffff;
$greyscale-black: #000000;

/* Brand Colors */
$brand-bt-black: #201010;
$st-blue-900: #0c2b57;
$st-blue-700: #12239a;
$st-blue-600: #8891cc;
$st-blue-500: #55a1f7;
$st-blue-100: #eff3f4;
$st-turquoise: #13fdfd;
$st-grey-900: #727f8e;
$st-grey-700: #9da6b0;
$st-grey-600: #b8bec6;
$st-alert-red: #ef4123;
$bt-black: #2b2b2b;
$bt-grey-400: #8b8b8b;
$bt-grey-300: #cccccc;
$bt-blue-700: #007bad;
$bt-blue-300: #80bdd6;
$zb-red-900: #a50034;
$zb-red-700: #ff1339;
$zb-red-600: #ff96a7;
$zb-pink: #ff8bc6;
$zb-blue: #009ae0;
$zb-blue-500: #acc7e8;
$zb-blue-400: #becddf;
$zb-grey-900: #2b2b2b;
$zb-grey-800: #383838;
$zb-grey-700: #464646;
$zb-grey-600: #696969;
$zb-grey-500: #9e9e9e;
$zb-grey-300: #eaeaea;
$zb-grey-400: #cccccc;
$zb-grey-200: #f4f5f7;
$bh-blue-900: #01519c;
$bh-blue-200: #447ab2;
$bh-orange: #f6a965;
$bh-red: #ff1a1f;
$bh-grey-800: #2b2b2b;
$bh-grey-700: #666666;
$tm-red-900: #b00241;
$tm-red-800: #c30248;
$tm-yellow-900: #ffbe00;
$tm-orange-800: #f47629;
$tm-orange-700: #f4a63b;
$tm-orange-500: #ffc28a;
$uw-blue: #00b1c5;
$uw-green: #a4c795;

/* Colors */
$color-blue-900: #1f2a32;
$color-blue-700: #005daa;
$color-blue-600: #4a90e2;
$color-blue-500: #008bff;
$color-blue-400: #50b0ff;
$color-blue-300: #82b9fa;
$color-blue-200: #c6cfe9;
$color-blue-100: #c9def7;
$color-crimson: #d22121;
$color-light-crimson: #f49ca0;
$color-orange: #f36b3a;
$color-light-orange: #f8ab8f;
$color-mustard: #fbdb32;
$color-green: #0ca86c;
$color-light-green: #86cbb0;

/* Gradients */
$gradient-g-trans-grey-900: [object Object];
$gradient-g-trans-white: [object Object];
