/* colors */
$core-text: $greyscale-grey-800;
$muted-text: $greyscale-grey-500;
$background: $greyscale-white;
$link-text: $color-blue-500;
$alt-background: $greyscale-grey-100;
$divider: $greyscale-grey-200;
$divider-text-label: $greyscale-grey-200;
$border: $greyscale-grey-200;
$icon-primary: $color-blue-700;
$icon-secondary: $color-green;
$icon-tertiary: $color-blue-200;
$icon-grey: $greyscale-grey-800;
$base: $greyscale-grey-200;
$alert: $color-crimson;
$alt-alert: $color-light-crimson;
$success: $color-green;
$alt-success: $color-light-green;
$new: $color-mustard;
$promo: $color-orange;
$alt-promo: $color-light-orange;
$info: $color-blue-200;
$navigation-background: $greyscale-white;
$navigation-text-label: $greyscale-grey-800;
$navigation-text-hover: $color-blue-700;
$primary-button: $color-blue-700;
$button-text-label: $greyscale-grey-100;
$input: $greyscale-white;
$input-border: $greyscale-grey-200;
$input-text-label: $greyscale-grey-400;
$input-text-label-bg: $greyscale-white;
$selector: $greyscale-grey-800;
$form-alert: $color-crimson;
$active-border: $color-blue-700;
$active-state-label: $color-blue-700;
$active-selector: $color-blue-700;
$disabled: $greyscale-grey-200;
$disabled-state-label: $greyscale-white;
$highlight-text: $color-blue-700;
$inverse-text: $greyscale-grey-100;
$tertiary-background: $greyscale-grey-800;
$hover: $color-blue-200;
