//slick slider overwrites

.slick-list {
	transform: translate3d(0, 0, 0);
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}

	&.dragging {
		cursor: pointer;
		cursor: hand;
	}

	@include media-breakpoint-up(sm) {
		transition-timing-function: linear;
		padding: 0 8% 0 0;
	}

	&.slick-padding {
		transform: translate3d(0, 0, 0);
		transition-timing-function: linear;
		transition: 0.2s;
		padding: 0 0 0 8% !important;
	}
}

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0.8rem 0 0;
	// padding: 0.8rem;
	list-style-type: none;
	align-items: center;

	li {
		margin: 0;

		&.slick-active {
			button {
				background-color: $primary-button;
			}
		}
	}

	button {
		display: block;
		width: 1rem;
		height: 1rem;
		padding: 0;
		border: none;
		font-size: 0px;
		background-color: $background;
    border: solid 1px $base;
    border-radius: 100%;
    margin: 0 4px;
	}
}

.slick-prev,
.slick-next {
    position: absolute;
		z-index: 1;
    display: block;
    height: 34px;
    width: 34px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: $background;
		box-shadow: 5px 5px 10px rgba(197, 205, 230, 0.5), -5px -5px 9px rgba(255, 255, 255, 0.7);
    // color: transparent;
    top: 39%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
		border-radius: 50%;
    border: none;
    outline: none;
    &:hover, &:focus {
        // outline: none;
        // background: transparent;
        // color: transparent;
        // &:before {
        //     opacity: 1;
        // }
    }
    &.slick-disabled:before {
        opacity: 0.25;
    }
    &:before {
        font-family: 'slick';
        // font-size: 20px;
        line-height: 1;
        color: white;
        opacity: 0.75;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

		img  {
			width: auto;
			height: 14px;
		}
}

.slick-prev {
	left: 9px;
	[dir="rtl"] & {
			left: auto;
			right: 9px;
	}
	&:before {
			content: '';
			[dir="rtl"] & {
				content: '>';
			}
	}
}

.slick-next {
	right: 0;
	[dir="rtl"] & {
			left: 0;
			right: auto;
	}
	&:before {
			content: '';
			[dir="rtl"] & {
				content: '<';
			}
	}
}

.slick-disabled {
  display: none;
}