/* type token */

//themes
$themes: (
  /* standard themes */ eshop:
    (
      "page-title": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "48px",
        line-height: "67px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "section-title": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "36px",
        line-height: "41px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "block-title": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "quote-text": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "20px",
        line-height: "23px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "subtitle": (
        font-family: "Lora,Georgia, Garamond, serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
      "emphasise-text": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "18px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "body-text": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "22px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "caption": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "tag-label": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "display-1": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "80px",
        line-height: "92px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-2": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "72px",
        line-height: "83px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-3": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "60px",
        line-height: "69px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "sub-display": (
        font-family: "Lora,Georgia, Garamond, serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
      "button-text": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
    ),
  /* ST themes */ st:
    (
      "page-title": (
        font-family: "Curator Head ST SemiBold, Helvetica, Arial, sans-serif",
        font-size: "48px",
        line-height: "67px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "section-title": (
        font-family: "Curator Head ST SemiBold, Helvetica, Arial, sans-serif",
        font-size: "36px",
        line-height: "41px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "block-title": (
        font-family: "Curator Head ST SemiBold, Helvetica, Arial, sans-serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "quote-text": (
        font-family: "Curator Head ST Regular, Helvetica, Arial, sans-serif",
        font-size: "20px",
        line-height: "23px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
      "subtitle": (
        font-family: "Selane ST Ten,Georgia, Garamond, serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
      "emphasise-text": (
        font-family: "Curator Head ST SemiBold, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "18px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "body-text": (
        font-family: "Curator Head ST Regular, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "22px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
      "caption": (
        font-family: "Curator Head ST Regular, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
      "tag-label": (
        font-family: "Curator Head ST SemiBold, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "display-1": (
        font-family: "Curator Head ST Bold, Helvetica, Arial, sans-serif",
        font-size: "80px",
        line-height: "92px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-2": (
        font-family: "Curator Head ST Bold, Helvetica, Arial, sans-serif",
        font-size: "72px",
        line-height: "83px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-3": (
        font-family: "Curator Head ST Bold, Helvetica, Arial, sans-serif",
        font-size: "60px",
        line-height: "69px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "sub-display": (
        font-family: "Selane ST Ten,Georgia, Garamond, serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
      "button-text": (
        font-family: "Curator Head ST Regular, Helvetica, Arial, sans-serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
    ),
  /* ST themes */ bt:
    (
      "page-title": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "48px",
        line-height: "67px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "section-title": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "36px",
        line-height: "41px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "block-title": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "quote-text": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "20px",
        line-height: "23px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "subtitle": (
        font-family: "Lora,Georgia, Garamond, serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
      "emphasise-text": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "18px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "body-text": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "22px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "caption": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "tag-label": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "display-1": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "80px",
        line-height: "92px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-2": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "72px",
        line-height: "83px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-3": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "60px",
        line-height: "69px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "sub-display": (
        font-family: "Lora,Georgia, Garamond, serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "300",
      ),
      "button-text": (
        font-family: "Source Sans Pro, Helvetica, Arial, sans-serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
    ),
  /* ST themes */ zb:
    (
      "page-title": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "48px",
        line-height: "67px",
        letter-spacing: "0em",
        font-weight: "500",
      ),
      "section-title": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "36px",
        line-height: "41px",
        letter-spacing: "0em",
        font-weight: "500",
      ),
      "block-title": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "500",
      ),
      "quote-text": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "20px",
        line-height: "23px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "subtitle": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "emphasise-text": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "18px",
        letter-spacing: "0em",
        font-weight: "500",
      ),
      "body-text": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "22px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "caption": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "tag-label": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "500",
      ),
      "display-1": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "80px",
        line-height: "92px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-2": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "72px",
        line-height: "83px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-3": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "60px",
        line-height: "69px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "sub-display": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "button-text": (
        font-family: "Noto Sans SC, Helvetica, Arial, sans-serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "500",
      ),
    ),
  /* ST themes */ bh:
    (
      "page-title": (
        font-family: "IBM Plex Serif,Georgia, Garamond, serif",
        font-size: "48px",
        line-height: "67px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "section-title": (
        font-family: "IBM Plex Serif,Georgia, Garamond, serif",
        font-size: "36px",
        line-height: "41px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "block-title": (
        font-family: "IBM Plex Serif,Georgia, Garamond, serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "quote-text": (
        font-family: "IBM Plex Serif,Georgia, Garamond, serif",
        font-size: "20px",
        line-height: "23px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "subtitle": (
        font-family: "IBM Plex Serif,Georgia, Garamond, serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "emphasise-text": (
        font-family: "Lato, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "18px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "body-text": (
        font-family: "Lato, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "22px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "caption": (
        font-family: "Lato, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "tag-label": (
        font-family: "Lato, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "display-1": (
        font-family: "IBM Plex Serif,Georgia, Garamond, serif",
        font-size: "80px",
        line-height: "92px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-2": (
        font-family: "IBM Plex Serif,Georgia, Garamond, serif",
        font-size: "72px",
        line-height: "83px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-3": (
        font-family: "IBM Plex Serif,Georgia, Garamond, serif",
        font-size: "60px",
        line-height: "69px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "sub-display": (
        font-family: "IBM Plex Serif,Georgia, Garamond, serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "button-text": (
        font-family: "Lato, Helvetica, Arial, sans-serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
    ),
  /* TM themes */ tm:
    (
      "page-title": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "48px",
        line-height: "67px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "section-title": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "36px",
        line-height: "41px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "block-title": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "quote-text": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "20px",
        line-height: "23px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "subtitle": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "emphasise-text": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "18px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "body-text": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "16px",
        line-height: "22px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "caption": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "tag-label": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "14px",
        line-height: "20px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
      "display-1": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "80px",
        line-height: "92px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-2": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "72px",
        line-height: "83px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "display-3": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "60px",
        line-height: "69px",
        letter-spacing: "0em",
        font-weight: "700",
      ),
      "sub-display": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "24px",
        line-height: "28px",
        letter-spacing: "0em",
        font-weight: "400",
      ),
      "button-text": (
        font-family: "Mukta Malar, Helvetica, Arial, sans-serif",
        font-size: "18px",
        line-height: "25px",
        letter-spacing: "0em",
        font-weight: "600",
      ),
    )
);
/* End */
@media screen and (min-width: 1200px) {
  @each $theme, $map in $themes {
    @each $token, $lib in $map {
      .#{$theme} .#{$token} {
        @each $att, $val in $lib {
          #{$att}: #{$val};
        }
      }
    }
  }
}
